<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
<body>
  <video id="create_recipe_bg_vid" autoplay loop muted src="/landing_bg_vid.mp4" type="video/mp4"></video>
  
  <div id="landing_overlay">
    <%- include('./partials/nav') %>
    <div class="about_cont">
      <p class="about_medium_text">Welcome to Food Recipes, the ultimate destination for food enthusiasts and culinary explorers. As a leading online platform, we strive to provide you with a vast collection of mouthwatering recipes that cater to every taste and occasion.</p>
      <p class="about_medium_text">Our team of passionate chefs and recipe creators is dedicated to curating the finest selection of dishes from around the world. Whether you're a seasoned home cook or a beginner in the kitchen, we have something for everyone.</p>
      <p class="about_medium_text">At Food Recipes, we believe that cooking is an art that brings people together. We're committed to inspiring and empowering you to unleash your creativity in the kitchen. Explore our recipe library, experiment with new flavors, and create unforgettable meals that will impress your family and friends.</p>
      <p class="about_medium_text">Join us on this culinary journey and embark on a delightful exploration of flavors, techniques, and cultures. We're here to accompany you every step of the way, making your cooking experience enjoyable and rewarding.</p>
    </div>
  </div>
</body>
</html>



















<!-- <!DOCTYPE html>
<html>
<head>
  <title>Food Recipe Website</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

    body {
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Poppins', sans-serif;
    }

    #video-background {
      position: fixed;
      top: 0;
      left: 0;
      object-fit: cover;
      background-repeat: no-repeat;
      width: 100vw;
      height: 100vh;
      z-index: -1;
    }

    .nav {
      margin: 0px;
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    .nav li {
      margin: 0 10px;
    }

    .nav li a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      transition: color 0.3s;
    }

    .nav li a:hover {
      color: #ff8800;
    }

    .about-container {
      height: auto;
      max-width: 600px;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
      text-align: center;
      color: #333;
    }


    .about-content {
      display: flex;
      width: 100%;
      gap: 10px;
      padding-top: 30px;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.6);
    }

    .about-text {
      font-size: 18px;
      line-height: 1.6;
    }
  </style>
</head>
<body>
  <video id="video-background" autoplay loop muted src="landing_bg_vid.mp4" type="video/mp4"></video>

  <div class="about-content">
    <ul class="nav">
      <li><a href="/home">Home</a></li>
      <li><a href="/recipes">Food Recipes</a></li>
      <li><a href="/create-recipe">Add Recipe</a></li>
      <li><a href="/about">About</a></li>
    </ul>

    <div class="about-container">
      <h2>About Our Company</h2>
      <div class="about-text">
        <p>Welcome to Food Recipes, the ultimate destination for food enthusiasts and culinary explorers. As a leading online platform, we strive to provide you with a vast collection of mouthwatering recipes that cater to every taste and occasion.</p>
        <p>Our team of passionate chefs and recipe creators is dedicated to curating the finest selection of dishes from around the world. Whether you're a seasoned home cook or a beginner in the kitchen, we have something for everyone.</p>
        <p>At Food Recipes, we believe that cooking is an art that brings people together. We're committed to inspiring and empowering you to unleash your creativity in the kitchen. Explore our recipe library, experiment with new flavors, and create unforgettable meals that will impress your family and friends.</p>
        <p>Join us on this culinary journey and embark on a delightful exploration of flavors, techniques, and cultures. We're here to accompany you every step of the way, making your cooking experience enjoyable and rewarding.</p>
      </div>
    </div>
  </div>
</body>
</html> -->
