<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <video id="landing_bg_vid" autoplay loop muted src="/landing_bg_vid.mp4" type="video/mp4"></video>
  
  <div id="landing_overlay">
    <p class="lp_large_title">Welcome to Food Recipes</p>
    <p class="lp_medium_text">Discover delicious recipes for every occasion!</p>
    <a class="lp_cta_btn" href="/recipe">See Our Recipes</a>
  </div>
</body>
</html>